asgiref==3.8.1
Brotli==1.1.0
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
cryptography==44.0.0
cssselect2==0.8.0
Django==5.1.6
django-allauth==65.4.1
django-widget-tweaks==1.5.0
et_xmlfile==2.0.0
fonttools==4.57.0
idna==3.10
openpyxl==3.1.5
pillow==11.1.0
psycopg2-binary==2.9.10
pycparser==2.22
pydyf==0.11.0
PyJWT==2.10.1
pyphen==0.17.2
razorpay==1.4.2
reportlab==4.3.1
requests==2.32.3
setuptools==76.0.0
sqlparse==0.5.3
tinycss2==1.4.0
tinyhtml5==2.0.0
tzdata==2025.1
urllib3==2.3.0
webencodings==0.5.1
zopfli==0.2.3.post1
